{% extends 'base.html' %}

{% block title %}{{ episodes.first.webtoon.title }}{% endblock %}
{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>이미지</th>
            <th>번호</th>
            <th>제목</th>
            <th>별점</th>
            <th>등록일</th>
        </tr>
    </thead>
    <tbody>
    {% for episode in episodes %}
        <tr>
            <th><img class="img-thumbnail img100" src="{{ episode.url_thumbnail }}"></th>
            <td>{{ episode.episode_id }}</td>
            <td>{{ episode.title }}</td>
            <td>{{ episode.rating }}</td>
            <td>{{ episode.created_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}